<%- include('includes/head.ejs') %>
  <form class="form" method="POST" action="/users">
    <div>
      <label for="user">User</label>
      <input type="text" name="user" placeholder="Username">
    </div>
    <button type="submit">Submit User</button>
  </form>
<%- include('includes/end.ejs') %>